@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body{
  margin: 0;
  background-color: #3E3E43;
  background-image: url(../img/)
}

.toolbar{
  position: fixed;
  top: 0;
  width: 100%;
  color: grey;
  display: flex;
  align-items: center;
  background-color: #28292D;
  box-shadow: 0px 0px 20px black;
}

.toolbar h5{
  padding: 4px;
  margin: 10px;
  font-size: 23px;
  font-family: 'Ubuntu' , sans-serif;
}

.toolbar img{
  padding: 4px;
  margin: 10px;
  width: 30px;
  height: 30px;
}

.nimex{
  display: flex;
  align-items: center;
}

.nimex img{
  width: 50%;
  height: 100%;
}
